<main id="loginpage">
    <h1>Login or Create an account</h1>
    <form method="post">
        <input type="text" name="email" placeholder="Enter email address">
        <input type="text" name="password" placeholder="Enter Password">
        <button name="login" type="submit" formaction="/login" >LOGIN</button>
        <button name = "createAccount" type="submit" formaction="/createAccount" >CREATE ACCOUNT</button>
    </form>
</main>
